pandas==2.0.3
pytest==7.4.2
matplotlib==3.7.3
jupyter-book==0.15.1
pytest==7.4.2
pylint==3.0.0
jupyter==1.0.0
jupyter-book==0.15.1
jupyter-cache==0.6.1
jupyter_client==7.4.9
jupyter-console==6.6.3
jupyter_core==5.3.1
jupyter-events==0.7.0
jupyter-lsp==2.2.0
jupyter_server==2.7.3
jupyter_server_terminals==0.4.4
jupyterlab==4.0.6
jupyterlab-pygments==0.2.2
jupyterlab_server==2.25.0
jupyterlab-widgets==3.0.9
virtualenv==20.24.5